.conteudo{

    border: 1px solid blue;
    background: rgb(76, 235, 13);
    padding: 20px;
    width: 150px;
    height: 150px;
    float:right;
    
    margin:10px;
}

.clear{

    clear:both;
}


.principal{

    border: 1px solid red;
    background: rgb(43, 48, 129);
}
   

 
